/*
*
*@author Eduardo Developer
*@version 0.1
*/
/*==layout - body==*/
html,
body,
.capa {
  height: 100%;
  overflow: auto;
}
body {
  background: url("img/capa.png"), url("img/noise.png"),
    linear-gradient(50deg, #ff4169, #7c26f8);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/*Barra de Navegação*/
.img-logo {
  height: 60px;
  width: 132px;
  display: block;
  background: url("img/spotify.svg") no-repeat;
  background-size: contain;
  color: transparent;
}
nav.navbar-transparent {
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
}
.navbar-brand {
  padding: 5px 15px;
}
.divisor {
  width: 1px;
  height: 16px;
  background: white;
  margin: 17px 10px;
}
.navbar-inverse .navbar-nav > li > a,
footer .nav a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
footer .nav a:hover {
  color: #9bf0e1;
  background: none;
}
/*Imagem de Capa*/
.capa {
  display: table;
  width: 100%;
}
.text-capa {
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
/*Button*/
.btn-custom {
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
}
.btn-rox {
  background: #7c25f8;
  border: 2px solid #7c25f8;
}
.btn-rox:hover {
  background: #6207e3;
  border: 2px solid #6207e3;
  color: white;
}
.btn-bra {
  border: 2px solid white;
}
.btn-bra:hover {
  background: white;
  color: black;
}
/*Services*/
#services {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.albums {
  padding: 10px 0 10px 0;
}
/*Resources*/
#resources {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.rotate {
  -ms-transform: rotate(30deg); /*IE 9*/
  -webkit-transform: rotate(30deg); /*Chrome, Safari, Opera*/
  transform: rotate(30deg);
  padding-left: 80px;
}
/*MediaQueries xs < 768*/
@media screen and(max-width:767px) {
  h1 {
    font-size: 50px;
  }
  .btn-custom {
    margin: 10px 15px;
  }
}
/*sm*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
}
/*md*/
@media screen and (min-width: 992px) {
  h1 {
    font-size: 80px;
  }
}
/*lg*/
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 100px;
  }
}
/*TypeText*/
h1 {
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
}
h2 {
  font-size: 50px;
  font-weight: 700px;
  letter-spacing: -0.04em;
}
h3 {
  font-size: 35px;
  font-weight: 700px;
  letter-spacing: -0.04em;
}
#footer h4 {
  color: #919496;
  font-size: 12px;
  text-transform: uppercase;
}
#services h2,
#services h3 {
  color: #7c25f8;
}
#resources h3 {
  color: #9bf0e1;
}
/*Footer*/
footer {
  background: #000;
  padding: 50px 0px 20px 0px;
  position: relative;
}
.icon-social {
  float: right;
}
